<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614739945228-67b1v8vnp5bokdj6ref9bmrnarsptag6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614739945228-67b1v8vnp5bokdj6ref9bmrnarsptag6</string>
	<key>API_KEY</key>
	<string>AIzaSyDz0JxlRUI4SWy7lpY5Frg2sL7wpRrQzP4</string>
	<key>GCM_SENDER_ID</key>
	<string>614739945228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junghun.videotofirebase</string>
	<key>PROJECT_ID</key>
	<string>fluttervideoupload-bf2eb</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttervideoupload-bf2eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614739945228:ios:8889bce9f3b06057094b29</string>
</dict>
</plist>