<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818010719467-c7076tggko913pphurjkugcpl9h8g92e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818010719467-c7076tggko913pphurjkugcpl9h8g92e</string>
	<key>API_KEY</key>
	<string>AIzaSyB-8xBp3c-dD7zmdi4qf9VbxOGYOJ3AJpM</string>
	<key>GCM_SENDER_ID</key>
	<string>818010719467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junghun.snslogin.sample-sns-login</string>
	<key>PROJECT_ID</key>
	<string>testsnslogin-49381</string>
	<key>STORAGE_BUCKET</key>
	<string>testsnslogin-49381.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818010719467:ios:3171d5457819e16cbc2aae</string>
</dict>
</plist>