<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278680961544-gsuf9amvlgbaqhi0822f1hp96l7oov8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278680961544-gsuf9amvlgbaqhi0822f1hp96l7oov8a</string>
	<key>API_KEY</key>
	<string>AIzaSyCDRzGu3G9wdnwOP539EOKlGiFqyhry7Ds</string>
	<key>GCM_SENDER_ID</key>
	<string>278680961544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myChat</string>
	<key>PROJECT_ID</key>
	<string>flutter-first-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-first-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278680961544:ios:dd226c3f613b389cb0c7bd</string>
</dict>
</plist>