<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726593188229-rju3r9njqvdjgj8u0kfnjbmmf5kn9g1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726593188229-rju3r9njqvdjgj8u0kfnjbmmf5kn9g1t</string>
	<key>API_KEY</key>
	<string>AIzaSyCgEBQkfr8RicuD_bHaM6VpqKfk2lzwVy0</string>
	<key>GCM_SENDER_ID</key>
	<string>726593188229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.communityapp</string>
	<key>PROJECT_ID</key>
	<string>communityapp-768ae</string>
	<key>STORAGE_BUCKET</key>
	<string>communityapp-768ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726593188229:ios:76399f8a7c453f6e9e54ec</string>
</dict>
</plist>